.sidenav {
  height: 100vh;
  position: fixed;
}

.sidenav ul li {
  cursor: pointer;
  font-weight: 500;
}

.tab-btn a {
  text-decoration: none;
}

.side-navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.side-navbar.expanded {
  left: 0;
}

.expand-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.expand-button span {
  display: block;
  width: 100
}

/* admin dashboar css styling */
#wrapper {
  overflow-x: hidden;
  /* background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    ); */
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.toggled {
  transition: .3s ease-in-out;
}

.toggled_non {
  transition: .3s ease-in-out;
}

@media screen and (min-width:768px) {
  .toggled_non {
    margin-left: 15rem;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* extra  */

.react-datepicker__input-container input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.button_bg_alt {
  border: 1px solid #90b956;
  background-color: #fff;
  color: #90b956;
}

.button_bg_alt:hover {
  color: #fff;
  background-color: #90b956;
}

.list-group-item {
  border-bottom: 1px solid #fff;
}

/* loading animation */
.wave_center {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 50px;
  background: #0d6efd !important;
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.modal-content {
  background-color: white !important;
}

.avatar_sm {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.img_sm {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* skeleton */
.loading-skeleton {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.loading-element {
  width: 100px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  animation: pulse 1s infinite;
}

.loading-text {
  width: 200px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/*  */
.fpo {
  position: relative;
  margin: 25% auto;
  display: block;
}

.pulsate {
  background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2.25s ease infinite;
  -moz-animation: Gradient 2.25s ease infinite;
  animation: Gradient 2.25s ease infinite;
}

.block {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}

.block2 {
  width: 78px;
  height: 8px;
  margin-bottom: 8px;
}

.block3 {
  width: 131px;
  height: 8px;
  margin-bottom: 16px;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: right;

}

#card {
  box-sizing: border-box;
  width: 335px;
  background: #fff;
  position: relative;
  margin: auto;
  top: 25%;
}

.card-image {
  box-sizing: border-box;
  display: block;
  width: 335px;
  height: 243px;
  background: #FAFAFA;
  padding: 16px;
}

.card-content {
  clear: both;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* pagination */
.pagintaion {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.pagintaion ul {
  display: flex;
  justify-content: start;
  flex: 1
}

.pagintaion ul li {
  list-style: none;
  text-decoration: none;
}

.pagintaion a {
  text-decoration: none;
  padding: 7px 11px;
}

.previous a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.next a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.selected a {
  background-color: rgb(43, 125, 247);
  border-radius: 50%;
  color: white;
}

.selected {
  color: white;
}

/* detail */
.banner_book {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.banner_content_book {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
}

.profile img {
  width: 35px;
  height: 35px;
}

.docotor_info i {
  color: #005963;
}

.profile span {
  color: #005963;
}