  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Flex:wght@300&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');

  .nav_active {
      color: rgb(0, 43, 95) !important;
  }

  .fc {
      padding: 10px;
  }

  html {
      font-family: 'Roboto Flex', sans-serif;
  }

  body {
      font-family: 'Roboto Flex', sans-serif;
  }

  .fc-dayGridMonth-button,
  .fc-timeGridWeek-button,
  .fc-timeGridDay-button {
      background: #0d6efd !important;
      border: none !important;
      outline: none !important;
      padding: 5px 20px !important;
      margin: 0 0 0 10px !important;
      border-radius: 5px !important;
  }

  .fc-prev-button,
  .fc-button,
  .fc-button-primary {
      background: #0d6efd !important;
      border: none !important;
      outline: none !important;
      margin: 0 0 0 5px !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .fc-today-button {
      background: #0d6efd !important;
  }

  .event_calendar {
      width: 100%;
      box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.3);
      margin-top: 50px;
  }

  .fc-toolbar-title {
      color: #0d6efd;
  }

  .fc-event-title,
  .fc-sticky {
      cursor: pointer !important;
  }

  .fc-toolbar-chunk {
      display: flex;
  }

  .fc-daygrid-day-top,
  .fc-col-header-cell-cushion,
  .fc-daygrid-day-number {
      text-decoration: none;
  }

  @media only screen and (max-width:500px) {
      .fc {
          overflow-x: scroll;
      }

      .fc-dayGridMonth-button,
      .fc-timeGridWeek-button,
      .fc-timeGridDay-button {
          width: 50px !important;
          height: 30px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-prev-button,
      .fc-button,
      .fc-button-primary {
          width: 20px !important;
          height: 30px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .fc-today-button {
          width: 50px !important;
          height: 30px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-toolbar-title {
          width: 50px !important;
          height: 30px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-event-title,
      .fc-sticky {
          cursor: pointer !important
      }

      .fc-toolbar-title {
          font-size: 1rem !important;
      }
  }

  @media only screen and (max-width:768px) {
      .fc {
          overflow-x: scroll;
      }

      .fc-dayGridMonth-button,
      .fc-timeGridWeek-button,
      .fc-timeGridDay-button {
          width: 80px !important;
          height: 35px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-prev-button,
      .fc-button,
      .fc-button-primary {
          width: 30px;
          height: 30px;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-today-button {
          width: 50px;
          height: 35px !important;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-toolbar-title {
          width: 50px;
          overflow: hidden !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
      }

      .fc-event-title,
      .fc-sticky {
          cursor: pointer !important
      }

      .fc-toolbar-title {
          font-size: 1rem !important;
      }
  }

  .nice-dates {
      width: 100%;
  }

  .react-ios-time-picker-main,
  .react-ios-time-picker-input {
      width: 100%;
  }

  .button_book,
  button {
      width: 100%;
  }

  .booking {
      position: relative;

  }

  .booking p::after {
      position: absolute;
      background: rgb(0, 172, 177);
      content: "";
      height: 30px;
      width: 3px;
      left: -10px;
      top: 12px;
  }

  .contact {
      position: relative;

  }

  .contact p::after {
      position: absolute;
      background: rgb(0, 172, 177);
      content: "";
      height: 25px;
      width: 3px;
      left: -10px;
      top: 0;
  }

  /*  */
  #layoutAuthentication {
      background: #000;
  }

  /* toast */
  .Toastify__toast-body {
      min-width: 85% !important;
      text-align: start !important;
  }

  /* custom form */
  .my-form {
      height: 4rem !important;
      outline: #0d6efd;
      border-radius: 0 !important;
  }